allow hal_graphics_composer_default opencl_cache_file:dir { add_name search write };
allow hal_graphics_composer_default opencl_cache_file:file { create getattr lock open read write };
allow hal_graphics_composer_default opencl_g2d-bin_file:dir search;
