allow hal_sensors_default sysfs_adc:dir { open read search };
allow hal_sensors_default sysfs_adc:file { getattr open read };
allow hal_sensors_default system_server:binder call;
