allow init proc:file setattr;
allow init sysfs_device_tree:file { read open };
allow init var_path:dir { write open create lock };
allow init var_path:file { write open create lock };

