allow system_app cache_file:dir search;
allow system_app cache_file:lnk_file read;
allow system_app device:dir { read open };
allow system_app diginative:binder call;
allow system_app i2c_device:chr_file { getattr open read write ioctl };
allow system_app lock_path:dir { getattr search write add_name remove_name };
allow system_app lock_path:file { getattr create write open read unlink };
allow system_app proc_stat:file { getattr open read };
allow system_app self:can_socket { bind create getopt read write setopt ioctl };
allow system_app serial_device:chr_file { open read write ioctl };
allow system_app spi_device:chr_file { getattr open read write ioctl };
allow system_app sysfs_adc:dir { r_dir_perms };
allow system_app sysfs_adc:file { rw_file_perms };
allow system_app sysfs_adc:lnk_file { rw_file_perms };
allow system_app sysfs_cpu:dir { r_dir_perms };
allow system_app sysfs_cpu:file { rw_file_perms };
allow system_app sysfs_devices_system_cpu:file write;
allow system_app sysfs_device_tree:dir { r_dir_perms };
allow system_app sysfs_device_tree:file { r_file_perms };
allow system_app sysfs:file { getattr };
allow system_app sysfs_gpio:dir { r_dir_perms };
allow system_app sysfs_gpio:file { rw_file_perms };
allow system_app sysfs_gpu:dir { r_dir_perms };
allow system_app sysfs_gpu:file { rw_file_perms };
allow system_app sysfs_net:dir { open read search };
allow system_app sysfs_net:file read;
allow system_app sysfs_pwm:dir { r_dir_perms };
allow system_app sysfs_pwm:file { rw_file_perms };
allow system_app sysfs_pwm:lnk_file { read };
allow system_app var_path:dir { getattr read search };
allow system_app var_path:lnk_file { read };
allow system_app watchdog_device:chr_file { getattr open read write ioctl };

# Socket IOCTLs
allowxperm system_app self:can_socket ioctl { can_ioctls };

# Firmware Update service.
allow system_app ota_package_file:dir { add_name remove_name search write };
allow system_app ota_package_file:file { map create getattr open read unlink write };
