allow system_app device:dir { read open };
allow system_app i2c_device:chr_file { getattr open read write ioctl };
allow system_app lock_path:dir { getattr search write add_name remove_name };
allow system_app lock_path:file { getattr create write open read unlink };
allow system_app proc_stat:file { getattr open read };
allow system_app self:can_socket { bind create read write setopt };
allow system_app self:netlink_route_socket nlmsg_write;
allow system_app serial_device:chr_file { open read write ioctl };
allow system_app spi_device:chr_file { getattr open read write ioctl };
allow system_app sysfs:file { getattr open read };
allow system_app sysfs_cpu:file { rw_file_perms };
allow system_app sysfs_cpu:dir { r_dir_perms };
allow system_app sysfs_device_tree:file { r_file_perms };
allow system_app sysfs_device_tree:dir { r_dir_perms };
allow system_app sysfs_devices_system_cpu:file write;
allow system_app sysfs_gpio:file { rw_file_perms };
allow system_app sysfs_gpio:dir { r_dir_perms };
allow system_app sysfs_gpu:file { rw_file_perms };
allow system_app sysfs_gpu:dir { r_dir_perms };
allow system_app var_path:lnk_file { read };

# Socket IOCTLs
allowxperm system_app self:can_socket ioctl { can_ioctls };

### Permissions to explore the file system (Settings - System updates)
# Access to /
allow system_app cache_file:dir { remove_name search };
allow system_app cache_file:file unlink;
allow system_app debugfs:dir read;
allow system_app file_contexts_file:file { getattr read };
allow system_app init_exec:file getattr;
allow system_app nonplat_service_contexts_file:file { getattr read };
allow system_app hwservice_contexts_file:file { getattr read };
allow system_app rootfs:dir { open read };
allow system_app seapp_contexts_file:file { getattr read };
allow system_app sepolicy_file:file getattr;
allow system_app service_contexts_file:file { getattr read };
allow system_app var_path:dir { getattr read search };
allow system_app sepolicy_file:file read;
allow system_app vndservice_contexts_file:file { getattr read };

# Access to /mnt/
allow system_app asec_apk_file:dir { getattr read };
allow system_app mnt_media_rw_file:dir { getattr open read };

# Access to /cache/
allow system_app cache_backup_file:dir { open read };
allow system_app cache_private_backup_file:dir { getattr open read search };
allow system_app cache_recovery_file:dir { getattr open read };
allow system_app cache_recovery_file:file { getattr read };
allow system_app cgroup:dir read;
allow system_app configfs:dir read;
allow system_app rootfs:file { getattr read };
allow system_app sysfs:dir read;

# Access to /data/
allow system_app adb_data_file:dir getattr;
allow system_app apk_private_data_file:dir { getattr read };
allow system_app app_data_file:dir search;
allow system_app asec_image_file:dir getattr;
allow system_app backup_data_file:dir { getattr open read search };
allow system_app bluetooth_data_file:dir getattr;
allow system_app bootchart_data_file:dir { getattr read };
allow system_app drm_data_file:dir getattr;
allow system_app install_data_file:file getattr;
allow system_app media_data_file:dir getattr;
allow system_app nfc_data_file:dir getattr;
allow system_app ota_data_file:dir { getattr read };
allow system_app ota_package_file:dir { getattr open read };
allow system_app property_data_file:dir getattr;
allow system_app radio_data_file:dir getattr;
allow system_app shell_data_file:dir { getattr search };
allow system_app shell_data_file:file read;
allow system_app system_data_file:dir { open read };
allow system_app tombstone_data_file:dir { getattr read };
allow system_app unencrypted_data_file:dir getattr;
