allow untrusted_app_27 digiservices:service_manager find;
allow untrusted_app_27 sysfs_device_tree:file { r_file_perms };
allow untrusted_app_27 sysfs_device_tree:dir { r_dir_perms };
