allow untrusted_app digiservices:service_manager find;
allow untrusted_app sysfs_device_tree:file { r_file_perms };
allow untrusted_app sysfs_device_tree:dir { r_dir_perms };
