allow vendor_init cache_file:dir { getattr search };
allow vendor_init cache_recovery_file:dir getattr;
allow vendor_init rootfs:dir { add_name write };
allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init wifi_data_file:dir { search setattr };
