allow priv_app adc_service:service_manager find;
allow priv_app can_service:service_manager find;
allow priv_app cpu_service:service_manager find;
allow priv_app gpio_service:service_manager find;
allow priv_app gpu_freq_service:service_manager find;
allow priv_app i2c_service:service_manager find;
allow priv_app memory_service:service_manager find;
allow priv_app pwm_service:service_manager find;
allow priv_app spi_service:service_manager find;
allow priv_app watchdog_service:service_manager find;
