allow system_server spi_device:chr_file { getattr open read write ioctl };
allow system_server i2c_device:chr_file { getattr open read write ioctl };
