allow untrusted_app_25 adc_service:service_manager find;
allow untrusted_app_25 cpu_service:service_manager find;
allow untrusted_app_25 gpio_service:service_manager find;
allow untrusted_app_25 gpu_freq_service:service_manager find;
allow untrusted_app_25 i2c_service:service_manager find;
allow untrusted_app_25 memory_service:service_manager find;
allow untrusted_app_25 spi_service:service_manager find;