allow untrusted_app_25 adc_service:service_manager find;
allow untrusted_app_25 can_service:service_manager find;
allow untrusted_app_25 cpu_service:service_manager find;
allow untrusted_app_25 firmware_update_service:service_manager find;
allow untrusted_app_25 gpio_service:service_manager find;
allow untrusted_app_25 gpu_freq_service:service_manager find;
allow untrusted_app_25 i2c_service:service_manager find;
allow untrusted_app_25 memory_service:service_manager find;
allow untrusted_app_25 pwm_service:service_manager find;
allow untrusted_app_25 serial_port_service:service_manager find;
allow untrusted_app_25 spi_service:service_manager find;
allow untrusted_app_25 watchdog_service:service_manager find;
