allow untrusted_app adc_service:service_manager find;
allow untrusted_app can_service:service_manager find;
allow untrusted_app cloud_connector_service:service_manager find;
allow untrusted_app cpu_service:service_manager find;
allow untrusted_app firmware_update_service:service_manager find;
allow untrusted_app gpio_service:service_manager find;
allow untrusted_app gpu_freq_service:service_manager find;
allow untrusted_app i2c_service:service_manager find;
allow untrusted_app memory_service:service_manager find;
allow untrusted_app pwm_service:service_manager find;
allow untrusted_app serial_port_service:service_manager find;
allow untrusted_app spi_service:service_manager find;
allow untrusted_app watchdog_service:service_manager find;

# File system access
allow untrusted_app sysfs_device_tree:file { r_file_perms };
allow untrusted_app sysfs_device_tree:dir { r_dir_perms };
