# support insmod xx.ko; setprop xx xx; modeprobe
# Avoid loading the wifi driver on boot. We want the module load/unload be
# managed by the Android Wifi middleware.
#modprobe
# insmod /vendor/lib/modules/mcp25xxfd.ko
