type libtelit_rild, domain;
type libtelit_rild_exec, vendor_file_type, exec_type, file_type;

init_daemon_domain(libtelit_rild)

hal_server_domain(libtelit_rild, hal_telephony)

# Failing to create these sockets appears to be non-fatal
net_domain(libtelit_rild)

allow libtelit_rild self:{ socket vsock_socket } create_socket_perms_no_ioctl;

set_prop(libtelit_rild, ctl_start_prop)
set_prop(libtelit_rild, ctl_stop_prop)

allow libtelit_rild telit_ril_prop:property_service set;
allow libtelit_rild telit_ril_radio_device:chr_file {getattr read write open ioctl};
allow libtelit_rild usb_serial_device:chr_file { read write open ioctl };
allow libtelit_rild telit_ril_prop:file { open read getattr map };
