# properties
set_prop(system_server, ethernet_prop)

allow system_server diginative_service:service_manager find;

allow system_server sysfs_net:file { read open getattr };
allow system_server sysfs_mca_pwroff:file { getattr open write };
